

    width: 2000px;
    height: 300px;
    margin: 30px;
}
h1{
    text-align:center;
    text-decoration: blue;
    font-size: 100px;
    border: rgb(66, 177, 160);
    border-style: groove;
    border-width: 650;
    /* position: sticky; */
   margin-top: 5px; 
   color: rgb(18, 77, 77);
   /* margin: 10px; */

